/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.about_container {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 2em;
  padding-left: 3em;
  padding-right: 6em;
  padding-bottom: 2em;
  
}

.about_container {
  display: flex;
  list-style: none;
  text-transform: capitalize;
  font-size: 25px;
  gap: 2em;
  color: #3a3a3c;
  cursor: pointer;
  padding-top: 1em;
}



.about_container .users {
  gap: 3em;
  display: flex;
  color: #020202;
  font-size: 20px;
  padding-top: 1em;
  cursor: pointer;
}

.burgers {
  background: #04471c;
  display: flex;
  height: 80px;
  padding-left: 3em;
  padding-top: 0.3em;
  gap: 0.3em;
  color: rgba(255, 255, 255, 1);
  font-size: 25px;
  font-weight: 300;
  line-height: 62.11px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.burger-icon {
  height: 25px;
  width: 25px;
  position: relative;
  top: 15px;
}

.dev {
  width: 100%;

  padding: 3em 60px 3em 60px;
  color: rgba(58, 58, 60, 1);
  font-size: 23.04px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.about_image img {
  width: 400px;
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
}

.about_image {
  display: flex;
  width: 100%;
padding: 0 50px 3em 50px;
  gap: 3em;

}

.about_image p {
  padding-top: 2em;
  font-size: 23.04px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.p-dummy{
  display:none;
}




@media (max-width:768px) {

  .burgers {
    height: 80px;
    padding-left: 1em;
    padding-top: 0.3em;
    font-size: 25px;
    font-weight: 300;
    line-height: 62.11px;

  }


  .dev {
    width: 100%;
    padding: 3em 20px 0 20px;
    color: rgba(58, 58, 60, 1);
    padding-bottom: 1em;
    font-size: 19.02px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .dev-p{
    display:none;
  }

  .p-dummy{
    display:block;
  }


  .about_image img {

    width: 100%;
    height: 232px;
    border-radius: 4px;
    object-fit: cover;
    padding: 0 20px;
    object-position: center;
  }
  
  .about_image {
    display: flex;
    flex-direction: column;
    width:100%;
    padding: 0 20px 4em 20px;
    padding-right: 0em;
    gap: 1em;
    padding-left: 0em;
    padding-bottom: 4em;
  }


  .about_image p {
    width: 100%;
    font-size: 19.02px;
    line-height: 32px;
    color: rgba(58, 58, 60, 1);
    padding: 0 20px;


  }
  
}
 */
