/* styling the footer start here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-footer {
  background: #020202;
  color: #ffffff;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.div_footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 8em;
  padding-right: 8em;
  padding-top: 2em;
}

.container_about ul {
  list-style: none;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 2em;
}

.social_container {
  display: flex;
  gap: 1em;
  cursor: pointer;
}

.social h3 {
  padding-bottom: 1em;
  text-transform: uppercase;
}

.border-free p {
  line-height: 0.5em;
  padding-top: 2em;
}

.border {
  border-bottom: 0.5px solid rgba(255, 255, 255, 1);
  width: 84%;
  margin-top: 4em;
  margin-left: 8em;
  margin-bottom: 2em;
}
.terms {
  margin-left: 8em;
  padding-bottom: 1em;
}

/* footer design on mobile view starts here */

@media (max-width: 768px) {
  /* changing the bg color of the footer on mobile views */

  .container-footer {
    /* color: #ffffff; */
    background: rgba(255, 255, 255, 1);

    font-family: Arial, Helvetica, sans-serif;
    background: rgba(13, 40, 25, 1);
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: red; */
  }
  /* hiddding the social media icon on mobile */
  .social {
    display: none;
  }

  .div_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2em;
  }
  .logo_content img {
    margin-left: 6em;
    margin-bottom: 2em;
  }

  .border-free p {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    padding-top: 0;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    padding-left: 0em;
    padding-right: 0em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .container_about ul {
    font-size: 19.02px;
    font-weight: 500;
    /* line-height: 32px; */
    line-height: 50px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .border {
    /* border-bottom: 1px solid #adadad; */
    border-bottom: 0.5px solid rgba(255, 255, 255, 1);
    width: 100%;
    margin-top: 3em;

    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2em;
  }

  .terms {
    margin-left: 0;
    padding-bottom: 1em;
    color: rgba(255, 255, 255, 1);

    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
