/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */



/* .sug_icons {
  display: flex;
  justify-content: space-between;
  padding: 5em 5em 0 5em;

} */

/* styling the onion after suggestions */
/* .Onion {
  top: 13.5em;
  position: relative;
  width: 20px;
  height: 20px;
}
.peper-icon{
  width: 50px;
  height: 50px;
} */

/* styling the card */

/* styling the background color of the card */

/* .kp1 {
  background: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.5)),
    url("../Images/sug1.jpeg");
  width: 100%;
  border-radius: 8px;
  height: 250px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
} */

/* .kp2 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.98)),
    url("../Images/sug2.jpeg");
  width: 100%;
  border-radius: 8px;
  height: 250px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
} */

/* .kp3 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.98)),
    url("../Images/sug3.jpeg");
  width: 100%;
  border-radius: 8px;
  height: 250px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
} */

/* .container_images {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0 80px 0 80px;
  gap: 1em;
} */
 /* .main_section{
  display:flex;
  width: 100%;
  justify-content: center;
  padding: 0 20px 0 20px;
  justify-content: space-around;
  background: red;
 } */

/* .kp1 h4,
.kp2 h4,
.kp3 h4 {

  text-transform: capitalize;
  color: #ddd;
  font-size: 30px;
  padding-top: 6.5em;
  padding-left: 0.5em;
} */

/* style the border after the card */
/* .bottom_border {
  border-bottom: 1px solid rgba(173, 173, 173, 1);
  width: 90%;
  margin: 50px 0px 0 70px;
} */

/* started styling the mobile view from this point */

@media (max-width: 834px) {
  /* giving bg color to the suggetion section */
  .container-bg-mobile {
    /* background: rgba(250, 250, 250, 1); */
    /* margin-top: 20em; */
    /* position: relative;
    width:100%;
    margin-left: 0;
    padding-right: 0;
    height: 750px;
    padding-bottom: 0;
    top: 3em; */
  }

  
  /* .main_section{
    margin-right: 0em;
  } */

  /* flexing suggestion images */

  /* .container_images {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 0 20px 0 20px;
    position: relative;
    bottom: 5em;
    gap: 1em;
  } */


  /* .sug_icons {
    display: block;
    padding-left: 0em;
    padding-top: 1em;
    padding-right: 0;
    position: relative;
    top: 0;
  }

  .peper-icon,
  .Onion{
    visibility: hidden;
  } */

  /* .kp1{

    width: 100%;
    height: 180px;
    margin-left: 0em;

  } */
  /* .kp1 h4,
  .kp2 h4,
  .kp3 h4{
    text-transform: capitalize;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    font-size: 23.04px;
    line-height: 32px;
    padding-top: 6em;
    padding-left: 1em;
  } */


  /* .kp2 {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
      url("../Images/poridge.jpeg");
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 180px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin-left: 0em;
  } */

  /* .kp3 {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
      url("../Recipes/Recipe_images/Noodles.jpeg");
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 180px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin-left: 0em;
  } */

  /* .container_images h4 {
    position: relative;
    top: 6em;
    left: 25px;
    text-transform: capitalize;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    font-size: 23.04px;
    line-height: 32px;
  } */
  /* .bottom_border {
display: none;
} */
}